<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net46" />
  <package id="Ninject" version="3.2.3-unstable-012" targetFramework="net46" />
  <package id="Ninject.Web.Common" version="3.2.4-unstable-004" targetFramework="net46" />
</packages>